body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {

  width: 100%;
  float: left;

}





/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}


.row::after {

  content: "";
  clear: both;
  display: table;
}

.logo {
  margin: 18px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.topnav {
  background-color: whitesmoke;
  overflow: hidden;
  width: 100%;
  position: relative;

}


.topnav a {
  display: block;
  font-family: "Karla", sans-serif;
  color: hsl(256, 26%, 20%);
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;

}

.topnav img {

  padding: 14px 16px;

}

.topnav a:hover {

  font-weight: bold;
}

#myLinks a:active {
  border: 2px solid whitesmoke;
  border-radius: 5px;

}


.topnav .icon {
  display: none;

}

#menu {
  float: right;

}

.topnav #myLinks {
  display: none;
}

#top-hr {
  display: none;
}

.left h1 {
  text-align: center;
  font-size: 45px;
  font-weight: lighter;
  padding: 0px 10px 0px 10px;

  margin: 0;

  font-family: "DM Serif Display";
}

.white-block h1 {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;

  font-family: "DM Serif Display";
}


h1 {
  text-align: center;
  font-size: 35px;
  font-weight: lighter;
  padding-bottom: 40px;
  margin: 0;
  font-family: "DM Serif Display";
}

.main-block {
  height: auto;
  background-color: hsl(256, 26%, 20%);
  font-size: medium;
  color: hsl(0, 0%, 98%);
  font-family: "Karla", sans-serif;

}

.main-img {
  width: 100%;
}


.left {

  text-align: left;
  padding: 110px 20px 160px 20px;
  height: auto;

  background-image: url('images/bg-pattern-intro-left-mobile.svg');
  background-position: left top;
  background-repeat: no-repeat;


}

.background {
  height: 100%;

}

.pattern,
.pattern-left {
  display: none;
}

.image {
  display: block;
  left: 83%;
  top: 160%;
  transform: translate(-50%, -50%);
  position: absolute;

}

#top-button {
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid;
  text-transform: uppercase;
  padding: 10px 10px 10px 20px;
  padding-inline: 35px;
  margin: 0 auto;
  display: block;
}


.left p {

  text-indent: initial;
  text-align: center;
  font-family: "Karla", sans-serif;
  color: hsl(0, 6%, 91%);
  padding: 5px 10px 20px 10px;
  line-height: 150%;

}



.right .img {
  width: 100%;
  height: auto;
}

.white-block {
  height: auto;
  font-size: medium;
  background-color: hsl(0, 0%, 98%);
  padding: 25px;
  padding-top: 120px;
  padding-bottom: 150px;
  font-family: "DM Serif Display";
  font-weight: normal;
  text-align: center;
}

hr {
  width: 50%;
  color: hsl(256, 26%, 20%);

}

h2 {
  font-weight: lighter;
}

p {
  font-family: "Karla", sans-serif;
  color: hsl(273, 4%, 51%);
}

.bottom-block {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  margin-top: 100px;
  padding: 50px;
  height: 350px;

  background-image: url('images/bg-pattern-how-we-work-mobile.svg');
  background-repeat: no-repeat;
  background-position: right top;
}

#middle-hr {
  margin-bottom: 40px;
  background-color: hsl(269, 69%, 38%);
  width: 40%;
}

.section {
  padding-top: 50px;
  width: 100%;
}

#bottom-button {
  background-color: transparent;
  color: whitesmoke;
  border: 2px solid;
  text-transform: uppercase;
  padding: 10px 20px;
  float: none;
}


.icons {
  float: right;
  padding: 30px;
  display: inline;


}

.footer {

  background-color: hsl(0, 6%, 93%);
  padding-bottom: 100px;
  color: hsl(256, 26%, 20%);
  text-align: center;


}

.footer-top {
  background-image: url('images/bg-pattern-footer-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
}

.footer-pattern {
  display: none;
}

#footer-hr {
  width: 90%;
}


p,
a {
  font-family: "Karla", sans-serif;
  color: hsl(273, 4%, 51%);
  font-size: large;
  line-height: 30px;
}

.footer p,
.footer a {
  color: hsl(256deg 20.58% 30.56%);
  text-decoration: none;
  display: block;
  font-weight: bold;
  line-height: 40px;
}


#heading {
  color: hsl(258, 4%, 51%);
  font-weight: bold;

}

.links {
  padding: 10px 10px 20px 10px;
  height: auto;
  line-height: 15px;
}


@media only screen and (min-width: 1440px) {


  .row::after {

    content: "";
    clear: both;
    display: table;
  }

  .logo {
    margin: 18px;
  }

  hr {
    width: 25%;
    float: left;
  }

  #menu {
    display: none;
  }

  .topnav {
    padding: 10px 150px;
    z-index: 1;
  }

  .topnav a {
    display: inline;
    color: hsl(258deg 4.99% 53.09%);
    line-height: 44px;
    font-weight: 600;
    font-size: medium;

  }

  .topnav #myLinks {
    display: inline;
    float: right;
  }

  #top-hr {
    display: block;
    margin: 20px 0px;
  }

  h1 {
    font-size: 70px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    float: left;
    font-family: "DM Serif Display";

  }

  #top-button {
    margin-left: 0.5%;
  }

  .main-block {
    height: 700px;
    background-color: hsl(256, 26%, 20%);
    font-size: medium;
    color: hsl(0, 0%, 98%);
    font-family: "Karla", sans-serif;
    padding: 100px 140px;
    position: relative;
    top: 0;
    left: 0;

  }


  .pattern {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
  }

  .pattern-left {
    display: block;
    position: absolute;
    top: 525px;
    left: 0;
  }

  .left {
    width: 50%;
    float: left;
    padding: 2%;
    text-align: left;
    background-image: none;
  }


  .left p {

    text-align: left;
    padding: 10px 0px;
  }

  .left h1 {
    text-align: left;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 20px;
    padding: 50px 0px 0px 0px;

  }


  .right {
    width: 50%;
    float: right;
  }

  .right .img {
    width: 100%;
    height: auto;
  }


  .white-block {
    height: auto;
    padding: 200px 150px 50px 150px;
  }

  .white-block h1 {
    text-align: left;
    width: 50%;
    font-size: 50px;

  }


  h2 {
    font-weight: lighter;
  }

  p,
  a {
    font-family: "Karla", sans-serif;
    color: hsl(273, 4%, 51%);
    font-size: large;
    line-height: 30px;
  }

  .image {
    display: none;
  }

  #middle-hr {
    width: 15%;
  }

  .section {
    text-align: left;
    width: 33.33%;
    display: table-cell;
  }

  #middle-section {
    padding: 0px 10px;
  }


  .bottom-block {
    margin: 70px 0px;
    text-align: center;
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: auto;
  }


  .icons img {
    padding: 0px 10px;
  }

  .footer {
    background-color: hsl(0, 6%, 93%);
    padding: 150px;
    padding-top: 20px;
    color: hsl(256, 26%, 20%);
    display: block;

    background-image: url('images/bg-pattern-footer-desktop.svg');
    background-repeat: no-repeat;

  }



  .footer-top {
    background-image: none;
    padding: 0px 0px 30px 0px;



  }


  .footer-pattern {
    display: block;
    position: absolute;
    top: 1840px;
    left: 0;
  }

  #footer-logo {
    position: absolute;
    left: 0;
    padding-left: 150px;
  }

  .icons {
    position: absolute;
    right: 0px;
    padding-right: 150px;
    width: auto;
    margin-top: 45px;
  }


  #footer-hr {
    width: 100%;
    margin-top: 100px;
  }


  .footer p,
  .footer a {
    color: hsl(256, 26%, 20%);
    text-decoration: none;
    display: block;
    font-weight: bold;
    line-height: 40px;
  }

  .links {
    padding: 40px 180px 0px 0px;
    text-align: left;
    display: table-cell;
  }

  #bottom-button {
    float: right;
    margin: 50px;
  }


  .active {
    border: 2px solid rgb(49, 48, 48);
  }

  .topnave a:active {
    color: rgb(49, 48, 48);

  }






}